@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);
html{
  min-width: 350px;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.formatter1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formatter3 {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.formatter4 {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.article {
  margin: 0 auto;
  /* padding: 2rem; */
}

.formatter2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#container {
  width: 600px;
  transform: translate(-53%, -60%);
  &.fin {
      .path-1, .path-2, .path-3 {
          stroke-dashoffset: 0;
      }
      .path-4 {
          stroke-width: 18px;
      }
  }
}
.path {
  fill: none;
  stroke: #362f3c;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.path-1 {
stroke-dasharray: 1850 2000;
stroke-dashoffset: 1851;
transition: 3.5s linear;
}
.path-2 {
stroke-dasharray: 260 1000;
stroke-dashoffset: 261;
transition: 1.2s linear 3.7s;
}
.path-3 {
stroke-dasharray: 100 1000;
stroke-dashoffset: 101;
transition: 1s linear 5.0s;
}
.path-4 {
stroke-width: 0;
transition: 0.1s linear 5.0s;
}

.d1image {
  background-image: url("../bk2.jpg");
  background-color: #cccccc;
  height: 1150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-blend-mode: hard-light;
}

.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-color: #cccccc;
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
  background-blend-mode:screen;
}
/* screenbest */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.major {
  background: url('../bk1.jpg') center center   no-repeat;
  background-size:cover;
  /* background-blend-mode:screen; */
  /* background-position: top 10px right 20px; */
  width:100%;
}

.major:before {
   content: '';
   position: absolute;
   background-image: linear-gradient(to bottom, transparent, white);
   opacity: 29.5; 
   height:inherit;
   width: inherit;
 }
  
 .book {
  height: 900px;
  background: url('../book1.png') center center   no-repeat;
  /* background-size: cover; */
  /* background-size: cover; */
}

p{
  font: 16px/1.25 'Crimson Text', sans-serif;
  color: #e5e5e5;
}
.book p {
  text-indent: 2em;
}

.book + p:first-of-type {
  text-indent: 0;
}
.book + p:first-of-type:first-letter {
  float: left;
  font: 700 3em/0.65 'Playfair Display', sans-serif;
  padding: 0.15em 0.05em 0 0;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .finisher {
    display:hidden !important; 
  }
}
@media (max-width: 1339px) {
  .codebar1 {
    display: none !important; 
  }
  .codebar2 {
    display: none !important; 
  }
}

@media (max-width: 852px) {
  .formatter2.flex.items-center.justify-center.space-x-4 {
    margin-right: 15px;
  }
}
@media (max-width: 319px) {
  .banner {
    max-height: 361px;
    overflow: auto;
  }
}
@media (max-width: 319px) {
  .banner {
    max-height: 361px;
    overflow: auto;
  }
}
@media (min-width: 1279px) {
  .appear {
    display: flex;
    float: left;
    font-size: medium;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .appear {
    display: none;
  }
}

@media (min-width: 1145px) {
  .backdrop1{
    margin-top: -515px;
    height: 600px;
    background: url('../macperfect.png') no-repeat;
    background-position: center;
    background-size: contain;
    /* background-position: top 10px right 20px; */
    width:100%;
  }
  .framee{
    display: none;
  }
  .frame2{
    margin-top: 160px;  
  }
  .bubble{
    display: none;
  }
}

@media screen and (max-width: 1144px) and (min-width: 658px) {
  .framee{
    display: block !important;
    width: 100% !important;
    min-width: 100% !important;
    height: 500px;
  }
  .frame2{
    display: none;  
  }
  .bubble{
    display: block;
  }
  .backdrop1{
    display: none !important;
  }
}

@media (max-width: 657px) {
  .backdropp{
    height: 1100px;
    background: url('../mobile.png') center center   no-repeat;
    background-size:cover;
    /* background-position: top 10px right 20px; */
    width:100%;
  }
  .backdrop1{
    display: none !important;
  }
  .bubble{
    display: none;
  }
  .frame2{
    display: none;  
  }

}
@media (max-width: 639px) {
  #dateInput{
    width: 146px !important;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Set a high z-index value to make it appear in front of everything */
}

#tops{
  position: relative;
}
video {
  object-fit:cover;
  height: 50%;
  width: 50%;
}
h1{
  z-index: 9999;
}

.craft{ 

  font-size: 50px;
  color: #eee;
  font-family: Serif;

}

.craft2{ 

  font-size: 50px;
  color: black;
  font-family: Serif;

}

.universalfont{
  font-family: Serif;
}

@media (max-width: 1399px) {
  .imagine{
    font-size: 67px !important;
  }
}

@media (max-width: 1279px) {
  .article{
    display: none !important;
  }
}

@media (min-width: 1279px) {
  .mobile {
    display: none !important;
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: transparent;
	height: 300px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 300px;
		width: 250px;
	}
}


@keyframes scroll2 {
	0% { transform: translateX(-15450px)}
	100% { transform: translateX(0px)}
}


.slider2 {
	background: transparent;
	height: 300px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track2 {
    animation-name: scroll2;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
		display: flex;
		width: calc(250px * 14);
    &:hover {
      animation-play-state: paused;
    }
	}
	
	.slide2 {
		height: 300px;
		width: 250px;
	}
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../bk2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
}

@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
}